

.about__app { 
    flex: 1;
    width: 80%;
    height: 100%;
}

.about__app h1 {
    padding-top: 2rem;
}

.about__app-container {
    margin-top: 1rem;
    background-color: aliceblue;
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    transition: all 0.3s ease-in-out;
}

.about__app-image {
    padding: 1rem;
}

.about__app-image img {
    height: 200x;
    width: 400px;
    border-radius: 15px;
}

.about__app-text {
    padding: 1rem
}

.head-text {
    font-size: 5rem; 
}

.about-text {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;
    letter-spacing: 0.15rem;
}

@media screen and(min-width: 2000px) {
    .about__app-image img {
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 850px) {
    .about__app {
        width: 80%;
    }

    .about__app-container{
        display: block;
    }

    .about__app-image img {
        height: 300px;
        width: 300px;
        margin-left: 20%;
    }

    .about-text {
        font-size: 1.5rem;
    }

    .about__app-container {
        height: fit-content;
    }
}

@media screen and (max-width: 450px) {

    .about__app-image img {
        height: 300px;
        width: 300px;
        margin-left: 1%;
    }

    .about-text {
        font-size: smaller;
    }

    .about__app h1 {
        padding-top: 0;
    }
}