@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* NEED TO FIGURE OUT PROPER COLORS FOR WEBSITE */

:root {
    --font-base: "DM Sans", sans-serif;

    --primary-color: ##C2CaD0;
    --secondary-color: #E7717D;
    --black-color: #030303;
    --lightGray-color: #C2b9B0;
    --gray-color: #6b7688;
    --brown-color: #7E685A;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    background-color: #ffffff;
    width: 0.4vw;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #E7717D, #C2b9B0, #E7717D);
}

