.app__work {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-item_container {
    background-color: white;
    width: 80vw;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.app__work-item {
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__work-item:hover .app__work-item-link {
    opacity: 1;
}

.app__work-item_container img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 50%;
}
.app__work-item-link{
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}



